. {
    text-align: center;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    
}


#container {
    background-image: url(../images/background.jpg);
    background-size: cover, auto, auto;
    background-position: auto;
    background-repeat: no-repeat;
    list-style-position: inside;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    resize: both;
    margin-top: 50px;
    padding: 20px;

}



#startGame {
    font-family: 'Cinzel', serif;
    position: center;
    width: auto;
    /* margin: 40%; */
}

#submitAnswers {
    font-family: 'Cinzel', serif;
    position: center;
    margin-top: 20px;
    width: auto;
}

#startContainer {
    text-align: center;
    text-decoration: none;
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-top: 10px;
    margin-left: 375px;
    margin-bottom: 10px;
    margin-right: 200px;

    margin: auto;
    width: 50%;
    align-self: center;
    align-self: stretch;
  }
}